.login {
    background-image: url("./beautiful-hotel-wallpaper-44684-45814-hd-wallpapers.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.MuiInputAdornment-root {
    height: auto !important;
    background-color: whitesmoke;
    border-radius: 25%;
}


.MuiInputAdornment-root {
    height: auto !important;
    background-color: whitesmoke;
    border-radius: 25%;
}

.MuiInputBase-root {
    background-color: whitesmoke;
}

.MuiFormLabel-filled {
    background-color: lightblue;
    border-radius: 50%;
}

.MuiOutlinedInput-inputAdornedStart {
    padding-left: 10px !important;
}